<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookEat</title>
</head>
<body>
<h1 style="text-align:center">BookEat</h1>
<img width="300" height="300" style = "position:absolute; left:0; top:0;" th:src="@{/images/BookEatLogo.jpg}" alt="BookEat Logo"/>
<h2 style="text-align:center"><br> <br>Home &nbsp;&nbsp;&nbsp;&nbsp; How to book? &nbsp;&nbsp;&nbsp;&nbsp; About us &nbsp;&nbsp;&nbsp;&nbsp; Eng &nbsp; Հայ &nbsp; Рус</h2>
<h3 style="text-align:center"><br> <br>Pay online with VISA card</h3>
</body>
</html>